<!DOCTYPE html>
<html>
<head>
  <title>Kutz</title>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>