<% include partials/header %>

<div class="col-md-4 col-md-offset-4">
  <h1 class="site-name">Kutz <small>Twitter hates your links. Use kutz to stuff that stupid bird.</small></h1>
  <form class="form" action="/links" method="post">
    <div class="form-group">
      <input type="text" name="url" class="form-control" placeholder="Jam it in here">
    </div>
    <input id="searchbtn" type="submit" value="Kut it up!" class="btn btn-success btn-md btn-block">
  </form>
</div>

<% include partials/footer %>