<% include ../partials/header %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 container-fluid">
    <h1>We Kut dat sucka, son!</h1>
    <h2>localhost:3000/<%= encodedData %></h2>
    <small>Paste this link into whichever field you need.</small>
  </div>
</div>

<% include ../partials/footer %>